<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wecome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- Include Chart.js -->
</head>

<body id="top">
    <div id="page" class="s-pagewrap ss-home">
        <header class="s-header">
            <div class="row s-header__inner width-sixteen-col">
                <div class="s-header__block">
                    <div class="s-header__logo">
                        <a class="logo" href="{{ url_for('logo') }}" >
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homepage">
                        </a>
                    </div>
                    <a class="s-header__menu-toggle" href="#0"><span>Menu</span></a>
                </div>
                <nav class="s-header__nav">
                    <ul class="s-header__menu-links">
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    </ul>
                    <div class="s-header__contact">
                        <a href="{{ url_for('signout') }}" class="btn btn--primary s-header__contact-btn">Sign Out</a>                        
                    </div>
                    
                </nav>
            </div> 

        </header>
        <section id="content" class="s-content">

            <section id="intro" class="s-intro">

                <div class="row s-intro__content width-sixteen-col">

                    <div class="column lg-12 s-intro__content-inner grid-block">
                        
                        <div class="s-intro__content-text">
                            <div class="s-intro__content-pretitle text-pretitle">Hey Chief, I am ready to assist you!</div>
                            <h1 class="s-intro__content-title">
                                <form action="/result" method="POST">
                                    <label for="url" style="color: white;">URL:</label>
                                    <input type="text" id="url" name="url" style="width: calc(100% - 22px); padding: 15px; margin-bottom: 20px; border: none; border-radius: 5px; background-color: rgba(255, 255, 255, 0.2); color: #fff; font-size: 16px; outline: none;" required>
                                    <label for="query" style="color: white;">Query:</label>
                                    <input type="text" id="query" name="query" style="width: calc(100% - 22px); padding: 15px; margin-bottom: 20px; border: none; border-radius: 5px; background-color: rgba(255, 255, 255, 0.2); color: #fff; font-size: 16px; outline: none;" required>
                                    <input type="submit" value="Submit" style="width: 200px; padding: 15px; background-color: #e50914; color: #fff; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; outline: none; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#ff0000'" onmouseout="this.style.backgroundColor='#e50914'">
                                </form>
                            </h1>
                        </div>
                        <div class="s-intro__content-media"> 
                            <div class="s-intro__content-media-inner">                               
                                <img src="{{ url_for('static', filename='images/intro-bg.jpg') }}" alt="">

                                <div class="lines">                               
                                    <span></span>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if not rank%}
            
            <section id="expertise" class="s-expertise">
                <div class="row s-expertise__content width-sixteen-col">
                    <div class="column xl-12 grid-block grid-section-split">
                        <div class="section-header grid-section-split__header">
                            <div class="text-pretitle">Expertise</div>                           
                            <h2 class="text-display-title">
                            Our key areas of expertise.
                            </h2>     
                            <p class="lead">
                                To determine the key areas of expertise of your website, we need to analyze the features extracted from the webpage and their importance relative to the search query. Here are the key areas of expertise that can be inferred from the features extracted and calculated.
                            </p>
                        </div>
                        <div class="s-expertise__content-main grid-section-split__primary">
                            <div class="grid-list-items list-items show-ctr">
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Title Relevence:</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Craft concise and descriptive titles that accurately reflect the webpage's content.
                                            Ensure titles align with users' search queries to improve visibility in search engine results.
                                            Enhance user experience by providing clear and relevant titles that attract attention and set expectations.
                                        </p>
                                    </div>
                                </div>
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Header importance:</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Utilize headers (h1 to h6) to organize content hierarchically and improve readability.
                                            Highlight key points and sections within the webpage using consistent header usage.
                                            Improve user engagement and navigation by structuring content effectively with headers.
                                        </p>
                                    </div>
                                </div>
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Body Text Relevance:
                                        </h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Create informative and relevant body text that addresses users' queries and provides value.
                                            Focus on quality writing, clarity, and relevance to satisfy users' informational needs.
                                            Enhance user experience by delivering content that is engaging, informative, and easy to understand.
                                        </p>
                                    </div>
                                </div>
                                <div class="grid-list-items__item list-items__item">
                                    <div class="grid-list-items__title list-items__item-header">
                                        <h3 class="list-items__item-title">Meta Tags Importance:</h3>
                                    </div>
                                    <div class="grid-list-items__text list-items__item-text">
                                        <p>
                                            Craft concise and compelling meta descriptions that accurately summarize the webpage's content.
                                            Optimize meta tags with relevant keywords to improve search engine visibility and click-through rates.
                                            Enhance user experience by providing clear and informative meta tags that help users understand the content before clicking.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {%endif%}
            {%if rank%}
            <section id="expertise" class="s-expertise">
                <div class="row s-expertise__content width-sixteen-col">
                    <h1>SEO Analysis Results</h1>
                    <p>Predicted Rank: {{ rank }}</p>
                    <canvas id="chart"></canvas>  <!-- Canvas for the chart -->
                    <script>
                        // Create the chart
                        var ctx = document.getElementById('chart').getContext('2d');
                        var chart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Title Importance', 'Headers Importance', 'Body Text Importance', 'Meta Tags Importance', 'Alt Text for Images Importance', 'Loading Speed Score', 'Backlinks Importance'],
                                datasets: [{
                                    label: 'Importance',
                                    data: [{{ title_importance }} * 100, {{ headers_importance }} * 100, {{ body_text_importance }} * 100, {{ meta_tags_importance }} * 100, {{ alt_text_for_images_importance }} * 100, {{ loading_speed_score }} * 100, {{ backlinks_importance }} * 100],
                                    backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(255, 159, 64, 0.2)', 'rgba(255, 205, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(201, 203, 207, 0.2)'],
                                    borderColor: ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                indexAxis: 'y',  // Set the index axis to 'y' for a horizontal bar chart
                                scales: {
                                    x: {
                                        beginAtZero: true,
                                        ticks: {
                                            callback: function(value, index, values) {
                                                return value + '%';  // Add a '%' sign after the value
                                            }
                                        }
                                    }
                                },
                                plugins: {
                                    legend: {
                                        display: false  // Hide the legend
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                var label = context.dataset.label || '';
                                                if (label) {
                                                    label += ': ';
                                                }
                                                label += Math.round(context.raw) + '%';
                                                return label;
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>

                    </div>
                </div>
            </section>
        {%endif%}
        </section>
        <footer class="s-footer">
            <div class="row s-footer__content">
                <div class="column xl-6 lg-6 md-12 s-footer__block s-footer__about">                    
                    <h3>About Our Product</h3>
                    <p>
                        ML-powered search app analyzes websites to deliver perfect results for your queries. Secure login (manual/Google OAuth) personalizes your experience. We analyze content, speed, backlinks (not just keywords) for superior ranking. Access past searches & store data securely. Powerful algorithms & user-friendly features make searching efficient. 
                    </p>               
                </div>                
                <div class="column xl-3 lg-6 md-12 s-footer__block s-footer__site-links">
                    <h3>Site Links</h3>
                    <ul class="link-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    </ul>
                </div>
                <div class="column xl-3 lg-6 md-12 tab-12 s-footer__block s-footer__newsletter">
                    <img src="{{ url_for('static', filename='images/lower.jpg') }}"  alt="">
                    
                </div>
            </div>    
        </footer>
    </div>
</body>
</html>