<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Login and Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
<div class="container">
  <input type="checkbox" id="flip">
  <div class="cover">
    <div class="front">
        <img src="{{ url_for('static', filename='images/frontImg.png') }}" alt="Front Image">
      <div class="text">
        <span class="text-1">Your site is our <br> site</span>
        <span class="text-2">Let's work together</span>
      </div>
    </div>
    <div class="back">
        <img src="{{ url_for('static', filename='images/backImg.png') }}" alt="Front Image">
      <div class="text">
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Login</div>
        <form action="/login" method="POST">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Submit">
            </div>
                {% if error %}
                    <div class="alert alert-danger" style="text-align: center;color: red;">{{ error }}</div>
                {% endif %}
        </div>
        </form>
        <!-- Add Google login button -->
        <form action="/login/google" method="GET">
          <div class="button input-box">
            <input type="submit" value="Login with Google" >
          </div>
        </form>
        <div class="text sign-up-text">Don't have an account? <label for="flip">Sign up now</label></div>
      </div>
      <div class="signup-form">
        <div class="title">Sign up</div>
        <form action="/signup" method="POST">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" name="name" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Submit">
            </div>
                {% if error %}
                    <div class="alert alert-danger" style="text-align: center;color: red;">{{ signup_error }}</div>
                {% endif %}
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>